nav.navbar.navbar-light.bg-light
    row
        .col-md-6
         nav.middle
            a.navbar-brand(href="#") 
                img(src="https://cdn.worldvectorlogo.com/logos/ubuntu-4.svg", alt="KanBanKan logo", width="100")
                span.display-3  Kanbankan
                span :.
    row
        .col-md-6
        nav.middle
            span.menu
                a(href="/task") Add task 
            span | 
            span.menu
                a(href="/task/view") View tasks 
            span | 
            span.menu
                a(href="/")